<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/images/love-message.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title> {% block tittle %} {% endblock tittle %} | ML Project</title>
    <style>
        body {
            background-image: linear-gradient(rgb(43, 56, 246), rgb(134, 53, 130));
            height: 935px;
        }
    </style>
</head>

<body>
    <div class="nain">

        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Salary Predictor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>



                </ul>

                {% if user.is_authenticated %}

                <ul navbar-nav ml-auto>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{request.user}}
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout">Logout</a>
                            </p>
                        </div>
                    </li>
                </ul>
                {% else %}
                <!-- Button to  trigger SignUp modal -->
                <button type="button" class="btn btn-success mx-2" data-toggle="modal" data-target="#loginModal">
                LogIn
            </button>
                <!-- Button to  trigger SignUp modal -->
                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
                SignUp
            </button> {% endif %}
            </div>
        </nav>


        <!-- SignUp Modal -->
        <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signupModalTitte">SignUp Here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {% comment %} form {% endcomment %}
                        <form action="/signup" method="POST"> {% csrf_token %}

                            <div class="form-group ">
                                <label for="username">Username</label>
                                <input type="text" class="form-control " id="username" name="username" placeholder="Choose a unique username" required>
                            </div>
                            <div class="form-group ">
                                <label for="fname">First Name</label>
                                <input type="text " class="form-control " id="fname " name="fname" placeholder="First Name" required>
                            </div>
                            <div class="form-group ">
                                <label for="lname ">Last Name</label>
                                <input type="email " class="form-control " id="lname " name="lname" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder=" name@example.com " required>
                            </div>
                            <div class="form-group">
                                <label for="pass1">Password</label>
                                <input type="password" class="form-control" id="pass1" name="pass1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Choose Password"
                                    required>
                            </div>

                            <div class="form-group">
                                <label for="pass2">Confirm Password</label>
                                <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter Your  Password Again" required>
                            </div>

                            <button type="submit " class="btn btn-primary ">Submit</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalTittle">Login Here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {% comment %} form {% endcomment %}
                        <form action="/login" method="POST">
                            {% csrf_token %}
                            <div class="form-group ">
                                <label for="username">Username</label>
                                <input type="text" class="form-control " id="loginusername" name="loginusername" placeholder="Enter username" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="loginpass" name="loginpassword" placeholder="Enter  Password " required>
                            </div>

                            <button type="subm " class="btn btn-primary ">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message: </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>

        {% endfor %} }{% block body %} {% endblock body %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>

    </div>
</body>



</html>